@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    color: white;
}
h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    border: 0;
    font-family: inherit;
}
input{
    outline: 0;
    font-family: inherit;
    border: 0;
}
img{
    display: block;
    width: 100%;
    cursor: pointer;
}
